
Controller/__history/Controller.Interfaces.pas.~2~
Controller/__history/Controller.Interfaces.pas.~1~
Controller/__history/Controller.Entidades.pas.~9~
Controller/__history/Controller.Entidades.pas.~8~
Controller/__history/Controller.Entidades.pas.~7~
Controller/__history/Controller.Entidades.pas.~6~
Controller/__history/Controller.Entidades.pas.~5~
Controller/__history/Controller.Entidades.pas.~14~
Controller/__history/Controller.Entidades.pas.~13~
Controller/__history/Controller.Entidades.pas.~12~
Controller/__history/Controller.Entidades.pas.~11~
Controller/__history/Controller.Entidades.pas.~10~
Controller/__history/Controller.Controller.pas.~4~
Controller/__history/Controller.Controller.pas.~3~
Controller/__history/Controller.Controller.pas.~2~
Controller/__history/Controller.Controller.pas.~1~
Helper/__history/Helper.GlobalFunctions.pas.~1~
Helper/__history/Helper.GlobalFunctions.pas.~2~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~10~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~11~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~12~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~13~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~14~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~15~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~16~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~7~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~8~
Model/Conexao/__history/Model.Conexao.Firedac.pas.~9~
Model/Conexao/__history/Model.Conexao.Interfaces.pas.~1~
Model/DAO/__history/Model.DAO.Clientes.pas.~1~
Model/DAO/__history/Model.DAO.Clientes.pas.~2~
Model/DAO/__history/Model.DAO.Clientes.pas.~3~
Model/DAO/__history/Model.DAO.Pedidos.pas.~12~
Model/DAO/__history/Model.DAO.Pedidos.pas.~13~
Model/DAO/__history/Model.DAO.Pedidos.pas.~14~
Model/DAO/__history/Model.DAO.Pedidos.pas.~15~
Model/DAO/__history/Model.DAO.Pedidos.pas.~16~
Model/DAO/__history/Model.DAO.Pedidos.pas.~17~
Model/DAO/__history/Model.DAO.Pedidos.pas.~18~
Model/DAO/__history/Model.DAO.Pedidos.pas.~19~
Model/DAO/__history/Model.DAO.Pedidos.pas.~20~
Model/DAO/__history/Model.DAO.Pedidos.pas.~21~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~22~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~23~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~24~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~25~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~26~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~27~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~28~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~29~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~30~
Model/DAO/__history/Model.DAO.PedidosItens.pas.~31~
Model/DAO/__history/Model.DAO.Produtos.pas.~1~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~10~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~11~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~12~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~13~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~14~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~5~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~6~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~7~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~8~
Model/Entidades/__history/Model.Entidades.Clientes.pas.~9~
Model/Entidades/__history/Model.Entidades.Pedidos.pas.~1~
Model/Entidades/__history/Model.Entidades.Pedidos.pas.~2~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~12~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~13~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~14~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~15~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~16~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~17~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~18~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~19~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~20~
Model/Entidades/__history/Model.Entidades.PedidosItens.pas.~21~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~10~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~1~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~2~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~3~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~4~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~5~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~6~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~7~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~8~
Model/Entidades/__history/Model.Entidades.Produtos.pas.~9~
View/__history/View.Principal.dfm.~23~
View/__history/View.Principal.dfm.~24~
View/__history/View.Principal.dfm.~25~
View/__history/View.Principal.dfm.~26~
View/__history/View.Principal.dfm.~27~
View/__history/View.Principal.dfm.~28~
View/__history/View.Principal.dfm.~29~
View/__history/View.Principal.dfm.~30~
View/__history/View.Principal.dfm.~31~
View/__history/View.Principal.dfm.~32~
View/__history/View.Principal.pas.~123~
View/__history/View.Principal.pas.~124~
View/__history/View.Principal.pas.~125~
View/__history/View.Principal.pas.~126~
View/__history/View.Principal.pas.~127~
View/__history/View.Principal.pas.~128~
View/__history/View.Principal.pas.~129~
View/__history/View.Principal.pas.~130~
View/__history/View.Principal.pas.~131~
View/__history/View.Principal.pas.~132~
View/__history/View.ToastAlert.dfm.~1~
View/__history/View.ToastAlert.dfm.~2~
View/__history/View.ToastAlert.pas.~1~
View/__history/View.ToastAlert.pas.~2~
View/__history/View.ToastAlert.pas.~3~
View/__history/View.ToastAlert.pas.~4~
View/__history/View.ToastAlert.pas.~5~
View/__history/View.ToastAlert.pas.~6~
